In [1]:
import numpy as np
import pandas as pd

In [15]:
A = np.zeros(10)
B = np.ones(10)

In [16]:
print(type(A))
print(type(B))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [17]:
print(A)
print(B)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [18]:
Variable_A = {"KUE_A" : A,
              "KUE_B" : B}

type(Variable_A)

dict

In [19]:
Hasil_Data = pd.DataFrame(Variable_A)
Hasil_Data

   KUE_A  KUE_B
0    0.0    1.0
1    0.0    1.0
2    0.0    1.0
3    0.0    1.0
4    0.0    1.0
5    0.0    1.0
6    0.0    1.0
7    0.0    1.0
8    0.0    1.0
9    0.0    1.0

In [20]:
Buah = {
    "buah_pertama" : ['Apple','Anggur','Cherry'],
    "buah_kedua" : ["Blueberry", "Durian", "Kapulaga"]
}

In [21]:
Buah_Frame = pd.DataFrame(Buah)
Buah_Frame

  buah_pertama buah_kedua
0        Apple  Blueberry
1       Anggur     Durian
2       Cherry   Kapulaga

In [23]:
Gabungan = [Hasil_Data,Buah_Frame]
Gabungan = pd.concat(Gabungan)
Gabungan

   KUE_A  KUE_B buah_pertama buah_kedua
0    0.0    1.0          NaN        NaN
1    0.0    1.0          NaN        NaN
2    0.0    1.0          NaN        NaN
3    0.0    1.0          NaN        NaN
4    0.0    1.0          NaN        NaN
5    0.0    1.0          NaN        NaN
6    0.0    1.0          NaN        NaN
7    0.0    1.0          NaN        NaN
8    0.0    1.0          NaN        NaN
9    0.0    1.0          NaN        NaN
0    NaN    NaN        Apple  Blueberry
1    NaN    NaN       Anggur     Durian
2    NaN    NaN       Cherry   Kapulaga